body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

h2,
h3,
h4,
h5 {
    padding: 10px 5%;
}

a {
    color: #092568;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

h1 {
    font-size: 40px;
    color: #85a3f3;
    line-height: 48px;
    display: inline;
}

h1+span {
    color: #fff;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: #0f1f4c;
    line-height: 29px;
    padding: 10px;
}

h3 {
    font-style: italic;
    font-size: 20px;
    color: #0f1f4c;
    line-height: 22px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}

hr {
    max-width: 1000px;
    margin-left: 0;
}

img {
    max-width: 100%;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 21px;
}

span {
    padding: 5px;
}

ul {
    list-style-type: none;
}

.education-entry,
.work-entry,
.project-entry {
    padding: 0 5%;
}

.center-content {
    padding: 2.5% 5%;
}

.clear-fix {
    overflow: auto;
}

.contact.flex-item {
    padding-bottom: 5px;
}

.dark-gray {
    background-color: #4a4a4a;
}

.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.gray {
    background-color: #f3f3f3;
    padding-bottom: 10px;
    clear: both;
}

.inline-link {
    display: inline;
}

.light-blue {
    background-color: #85a3f3;
}

.contact-type {
    color: #85a3f3;
    padding: 5px 5px 5px 0;
}

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

.project-image {
    display: block;
}

.project-image-container {
    display: inline-block;
}

.project-image-container a {
    display: block;
    margin: 0;
}

.skills-header {
    display: inline;
    color: #85a3f3;
    clear: both;
    padding-left: 0px;
}

.underline-link:hover {
    text-decoration: underline;
}

.welcome-message {
    font-size: 16px;
    color: #f3f3f3;
    line-height: 28px;
    max-width: 950px;
    padding: 10px 0 0 0;
    display: block;
}

.white-text {
    font-weight: bold;
    color: #fff;
}

.white-text a {
    color: #fff;
    display: inline;
}

.white-text a:hover {
    color: orange;
}

#biopic-big {
    padding: 10px 15px 10px 0;
    width: 130px;
    height: 130px;
}

#biopic-small {
    padding: 10px 10px 10px 0;
    width: 80px;
    height: 80px;
}

#biopic-small-container {
    display: none;
    float: left;
    width: 90px;
    height: 90px;
}

#header {
    background-color: #0f1f4c;
}

#lets-connect {
    text-align: center;
    color: #3366ff;
    background-color: #0f1f4c;
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

#name {
    padding: 0 10px 0 0;
}

#name-role-container {
    overflow: hidden;
}

#role {
    padding: 5px 5px 5px 0px;
}

#skills-container {
    max-width: 1000px;
}

#skills-languages,
#skills-fw-lib,
#skills-other {
    max-width: 660px;
    padding: 10px 0 10px 0;
}

#top-contacts {
    max-width: 1000px;
}

#top-content-container {
    max-width: 1000px;
}

#top-content-left {
    float: left;
    width: 145px;
    height: 150px;
}

#top-content-right {
    overflow: hidden;
}

#top-rule {
    display: block;
    max-width: 855px;
}


/* Show contact info in two columns.  Modified version of approach shown here:  http://jsfiddle.net/qUAT6/ */

@media only screen and (min-width: 750px) {
    #top-contacts,
    #footer-contacts {
        font-size: 16px;
        display: block;
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
        height: 85px;
        text-align: left;
    }
}

@media only screen and (max-width: 749px) {
    #biopic-small-container {
        display: inline;
    }
    #name {
        font-size: 36px;
    }
    #role {
        font-size: 14px;
        padding: 5px 0 0 0;
    }
    #top-content-left {
        display: none;
    }
    #top-rule {
        vertical-align: bottom;
        margin-top: 0;
    }
    #top-contacts,
    #footer-contacts {
        font-size: 14px;
        display: block;
        -moz-column-count: 2;
        -moz-column-gap: 40px;
        -webkit-column-count: 2;
        -webkit-column-gap: 40px;
        column-count: 2;
        column-gap: 40px;
        height: 85px;
        text-align: left;
    }
    .welcome-message {
        font-size: 14px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 600px) {
    #top-content-right {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    #biopic-small-container {
        float: left;
        display: inline;
        width: 90px;
    }
    #name-role-container {
        overflow: hidden;
        padding-top: 40px;
    }
    #top-contacts {
        width: 100%;
        display: block;
    }
    #top-content-right {
        display: inline;
    }
}

@media only screen and (max-width: 500px) {
    #name {
        font-size: 24px;
    }
    #name-role-container {
        padding-top: 12px;
    }

    /* show name and role on separate rows */
    #role {
        display: block;
        margin-bottom: 8px;
        padding: 0 0 0 2px;
    }

    /* Show contact info in one column. */
    #top-contacts {
        font-size: 14px;
        display: block;
        -moz-column-count: 1;
        -moz-column-gap: 40px;
        -webkit-column-count: 1;
        -webkit-column-gap: 40px;
        column-count: 1;
        column-gap: 0px;
        height: auto;
        text-align: left;

        max-width: 100%;
        padding-top: 5px;
        width: auto;
    }
    .contact {
        display: block;
    }
}
