body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

h2,
h3,
h4,
h5 {
    padding: 10px 5%;
}

a {
    color: #092568;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

h1 {
    font-size: 40px;
    color: #85a3f3;
    line-height: 48px;
    display: inline;
}

h1+span {
    color: #fff;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: #0f1f4c;
    line-height: 29px;
    padding: 10px;
}

h3 {
    font-style: italic;
    font-size: 20px;
    color: #0f1f4c;
    line-height: 22px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}

img {
    max-width: 100%;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 21px;
}

span {
    padding: 5px;
}

ul {
    list-style-type: none;
}

.education-entry,
.work-entry,
.project-entry {
    padding: 0 5%;
}

.biopic {
    float: left;
    padding: 10px;
    width: 175px;
    display: block;
}

.center-content {
    padding: 2.5% 5%;
}

.clear-fix {
    overflow: auto;
}

.contact.flex-item {
    padding-bottom: 5px;
}

.dark-gray {
    background-color: #4a4a4a;
}

.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.gray {
    background-color: #f3f3f3;
    padding-bottom: 10px;
    clear: both;
}

.inline-link {
    display: inline;
}

.light-blue {
    background-color: #85a3f3;
}

.light-blue-text {
    color: #85a3f3;
}

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

.project-image {
    display: block;
}

.project-image-container {
    display: inline-block;
}

.project-image-container a {
    display: block;
    margin: 0;
}

.skills-header {
    color: #85a3f3;
    clear: both;
}

.underline-link:hover {
    text-decoration: underline;
}

.welcome-message {
    font-size: 16px;
    color: #f3f3f3;
    line-height: 28px;
    max-width: 575px;
}

.white-text {
    font-weight: bold;
    color: #fff;
}

.white-text a {
    color: #fff;
    display: inline;
}

.white-text a:hover {
    color: orange;
}

#header {
    background-color: #0f1f4c;
}

#lets-connect {
    text-align: center;
    color: #3366ff;
    background-color: #0f1f4c;
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

#skills-languages,
#skills-fw-lib,
#skills-other {
    max-width: 800px;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 450px) {
    #role {
        display: block;
    }
}


/* Show contact info in one column. */

@media only screen and (max-width: 649px) {
    #topContacts,
    #footerContacts {
        display: block;
        text-align: left;
    }
    .welcome-message {
        display: block;
        font-size: 14px;
        line-height: 24px;
    }
}


/* Show contact info in two columns.  Modified version of approach shown here:  http://jsfiddle.net/qUAT6/ */

@media only screen and (min-width: 650px) {
    #topContacts,
    #footerContacts {
        font-size: 16px;
        display: block;
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
        height: 85px;
        text-align: left;
    }
}

@media only screen and (max-width: 749px) {
    .biopic {
        width: 150px;
    }
    .welcome-message {
        font-size: 14px;
        line-height: 24px;
    }
}

@media only screen and (min-width: 750px) {
    .skills-header,
    .biopic {
        display: block;
    }
}

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    }
}
